.bumper {
    width: 100%;
    height: 25%;
    background-color: bisque;
}

/*
레이아웃 기술에는 크게 
ㅇ css framework
ㅇ CSS float property
ㅇ CSS flexbox
ㅇ CSS grid
가 있다. 음.. 킵 고잉. 각자 어떤 특성이있고 지금 바로 쓸 수 있는 것들은 (러닝커브가 작으면서도 효과적인것) 어떤 것이 있나?
*/